In [55]:
import os
os.environ["JAVA_HOME"] = "C:\Program Files\Java\jdk-21"

In [14]:
#import pyterrier as pt
import pandas as pd
import ir_measures
from ir_measures import *

In [3]:
#pt.init(tqdm='notebook')

In [56]:
downsampled_queries = pd.read_csv('./files to colab/queries_smol.csv', index_col=0)

In [58]:
baseline = pd.read_csv('./files to colab/baseline_BM25_results_smol.csv', index_col=0)
baseline_Bo1 = pd.read_csv('./files to colab/BM25_Bo1_results_smol.csv', index_col=0)
baseline_RM3 = pd.read_csv('./files to colab/BM25_RM3_results_smol.csv', index_col=0)
zero_shot = pd.read_csv('./files to colab/ZS_LLM_results_smol.csv', index_col=0)
zero_shot_q0 = pd.read_csv('./files to colab/ZS_LLM_Q0_results_smol.csv', index_col=0)
few_shot = pd.read_csv('./files to colab/FS_LLM_results_smol.csv', index_col=0)
few_shot_q0 = pd.read_csv('./files to colab/FS_LLM_Q0_results_smol.csv', index_col=0)

In [59]:
downsampled_qrels = pd.read_csv('./files to colab/downsampled_qrels.csv', index_col=0)

In [60]:
downsampled_qrels = downsampled_qrels.rename(columns={'qid': 'query_id', 'docno': 'doc_id', 'label': 'relevance'})

In [61]:
downsampled_qrels.head()

   query_id    doc_id  relevance  iteration
0   7267365   D424122          1          0
1   5948492  D1550515          1          0
2   7765461  D3190483          1          0
3  10865189  D2540267          1          0
4  10865189  D2540265          1          0

In [62]:
baseline.head()

       qid    docid     docno  rank      score                     query
0  7267365   656653   D424123     0  37.781522  10 day weather fresno ca
1  7267365  2660201  D1674968     1  37.464743  10 day weather fresno ca
2  7267365  2954309  D3322503     2  37.070667  10 day weather fresno ca
3  7267365   841217   D110596     3  35.673794  10 day weather fresno ca
4  7267365  2706147  D1904534     4  35.473843  10 day weather fresno ca

In [63]:
baseline = baseline.rename(columns={'qid': 'query_id', 'docno': 'doc_id'})
baseline.head()

   query_id    docid    doc_id  rank      score                     query
0   7267365   656653   D424123     0  37.781522  10 day weather fresno ca
1   7267365  2660201  D1674968     1  37.464743  10 day weather fresno ca
2   7267365  2954309  D3322503     2  37.070667  10 day weather fresno ca
3   7267365   841217   D110596     3  35.673794  10 day weather fresno ca
4   7267365  2706147  D1904534     4  35.473843  10 day weather fresno ca

In [64]:
baseline['query_id'] = baseline['query_id'].astype('str')
baseline['doc_id'] = baseline['doc_id'].astype('str')
downsampled_qrels['query_id'] = downsampled_qrels['query_id'].astype('str')
downsampled_qrels['doc_id'] = downsampled_qrels['doc_id'].astype('str')

In [65]:
ir_measures.calc_aggregate([nDCG@10, P@5, Judged@10], downsampled_qrels, baseline)

{nDCG@10: 0.22367740754892332,
 P@5: 0.07368421052631623,
 Judged@10: 0.051600492459218536}

In [66]:
evaluator = ir_measures.evaluator([AP, P@10, R@10, RR, nDCG, nDCG@10, NumQ, NumRel, NumRet, NumRet(rel=1)], downsampled_qrels)

In [67]:
evaluator.calc_aggregate(baseline)

{NumRet: 101806.0,
 nDCG@10: 0.22367740754892332,
 NumRel: 1820.0,
 NumRet(rel=1): 1050.0,
 RR: 0.2299335192492724,
 AP: 0.18789960230149524,
 NumQ: 1048.0,
 nDCG: 0.2843507371370783,
 P@10: 0.05032317636195784,
 R@10: 0.3263997980064462}

In [68]:
baseline_Bo1 = baseline_Bo1.rename(columns={'qid': 'query_id', 'docno': 'doc_id'})
baseline_Bo1['query_id'] = baseline_Bo1['query_id'].astype('str')
baseline_Bo1['doc_id'] = baseline_Bo1['doc_id'].astype('str')

In [69]:
evaluator.calc_aggregate(baseline_Bo1)

{NumRet: 104800.0,
 nDCG@10: 0.21730559968670862,
 NumRel: 1820.0,
 NumRet(rel=1): 1073.0,
 RR: 0.21614788754908776,
 AP: 0.17998928569944084,
 NumQ: 1048.0,
 nDCG: 0.27893672002490066,
 P@10: 0.05115420129270577,
 R@10: 0.33049702938899606}

In [70]:
baseline_RM3 = baseline_RM3.rename(columns={'qid': 'query_id', 'docno': 'doc_id'})
baseline_RM3['query_id'] = baseline_RM3['query_id'].astype('str')
baseline_RM3['doc_id'] = baseline_RM3['doc_id'].astype('str')

In [71]:
evaluator.calc_aggregate(baseline_RM3)

{NumRet: 104800.0,
 nDCG@10: 0.20768199690022907,
 NumRel: 1820.0,
 NumRet(rel=1): 1058.0,
 RR: 0.19860857872182827,
 AP: 0.16731345152725197,
 NumQ: 1048.0,
 nDCG: 0.2676359849847558,
 P@10: 0.04967682363804286,
 R@10: 0.3327981037122311}

In [72]:
zero_shot = zero_shot.rename(columns={'qid': 'query_id', 'docno': 'doc_id'})
zero_shot['query_id'] = zero_shot['query_id'].astype('str')
zero_shot['doc_id'] = zero_shot['doc_id'].astype('str')

In [73]:
evaluator.calc_aggregate(zero_shot)

{NumRet: 108100.0,
 nDCG@10: 0.1424027183503422,
 NumRel: 1873.0,
 NumRet(rel=1): 793.0,
 RR: 0.14507221737130915,
 AP: 0.11851883004581276,
 NumQ: 1081.0,
 nDCG: 0.1953026572899281,
 P@10: 0.032594644506001996,
 R@10: 0.21850212985947057}

In [74]:
zero_shot_q0 = zero_shot_q0.rename(columns={'qid': 'query_id', 'docno': 'doc_id'})
zero_shot_q0['query_id'] = zero_shot_q0['query_id'].astype('str')
zero_shot_q0['doc_id'] = zero_shot_q0['doc_id'].astype('str')

In [75]:
evaluator.calc_aggregate(zero_shot_q0)

{NumRet: 108100.0,
 nDCG@10: 0.16675929364429823,
 NumRel: 1873.0,
 NumRet(rel=1): 890.0,
 RR: 0.16912807310965505,
 AP: 0.13862144549141112,
 NumQ: 1081.0,
 nDCG: 0.22348315341558064,
 P@10: 0.03776546629732246,
 R@10: 0.2542629500385733}

In [76]:
few_shot = few_shot.rename(columns={'qid': 'query_id', 'docno': 'doc_id'})
few_shot['query_id'] = few_shot['query_id'].astype('str')
few_shot['doc_id'] = few_shot['doc_id'].astype('str')

In [77]:
evaluator.calc_aggregate(few_shot)

{NumRet: 107912.0,
 nDCG@10: 0.13433626894069622,
 NumRel: 1872.0,
 NumRet(rel=1): 688.0,
 RR: 0.1395517356292006,
 AP: 0.1145955703122536,
 NumQ: 1080.0,
 nDCG: 0.17575804183006724,
 P@10: 0.029824561403508892,
 R@10: 0.19157333125477172}

In [78]:
few_shot_q0 = few_shot_q0.rename(columns={'qid': 'query_id', 'docno': 'doc_id'})
few_shot_q0['query_id'] = few_shot_q0['query_id'].astype('str')
few_shot_q0['doc_id'] = few_shot_q0['doc_id'].astype('str')

In [79]:
evaluator.calc_aggregate(few_shot_q0)

{NumRet: 107971.0,
 nDCG@10: 0.1508848632501562,
 NumRel: 1873.0,
 NumRet(rel=1): 761.0,
 RR: 0.15597027452931037,
 AP: 0.12868283334589828,
 NumQ: 1081.0,
 nDCG: 0.1959705569918856,
 P@10: 0.03379501385041567,
 R@10: 0.21527403037098325}

In [80]:
# pt.Experiment(
#     [baseline, baseline_Bo1, baseline_RM3, zero_shot, zero_shot_q0, few_shot, few_shot_q0],
#     downsampled_queries,
#     downsampled_qrels,
#     eval_metrics=["map", "P_10", "recall_10", "recip_rank", "ndcg", "ndcg_cut_10", "num_q", "num_ret", "num_rel", "num_rel_ret"],
#     names=["Baseline_BM25", "Baseline_Bo1", "Baseline_RM3", "ZS_LLM", "ZS_LLM_Q0", "FS_LLM", "FS_LLM_Q0"]
# )

In [ ]:
# pt.Evaluate([baseline, baseline_Bo1, baseline_RM3, zero_shot, zero_shot_q0, few_shot, few_shot_q0], 
#             downsampled_qrels, 
#             metrics=["map", "recip_rank", "ndcg", "ndcg_cut_10", "num_q", "num_ret", "num_rel", "num_rel_ret"])